body {
    margin: 0;
    color: #6a6f8c;
    background: #c8c8c8;
    font: 600 16px/18px 'Open Sans', sans-serif;
}

select {
    height: 50px;
    line-height: 50px;
    font-size: 12pt;
}

#image img {
    padding-left: 60px;
    position: absolute;
    padding-top: -10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.image-upload > input {
    display: none;
}

h3, label {
    display: flex;
    justify-content: center;
}

.form__input {
    height: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: inherit;
    font-size: 1.5rem;
    text-align: center;
    color: #333;
    padding: 0.3rem 1rem;
    border-radius: 0.7rem;
    transition: all 0.3s;
}